* {
    margin: 0;
    padding: 0;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    background: url('bg\ medium.png') no-repeat;
    background-size: cover;
    width: 90%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    margin-top: 10px;
    width: 100%;
    text-align:center;
}

h1 {
  color: #fffe;
  text-shadow: 0 0 2px black, 0 0 6px black, 0 0 30px black;
}

h2 {
    font-size: 25px;
    color:#fffa;
    text-shadow: 0 0 6px black, 0 0 30px black;
}

main {
    margin-bottom:10px;
    flex:1;
    width: 100%;
    display: flex;
}

div {
    border-radius: 20px;
    padding: 20px;
    margin: 5px;
    box-shadow: 2px 2px 4px #000c;
    text-align:center;
}

canvas {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#left {
    flex:0 0 20%;
    background: #2a2b1aaa;
    width: 20%;
    min-width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#right {
    flex:1;
    background: #5c5e2daa;
}

.link-button {
    flex:1;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    background: #5c5e2daa;
    border: none;
    border-radius: 5px;
}

.link-button:hover {
    background: #5c5e2d; 
    box-shadow: 1px 1px 2px #000c;   
}

.link-button p {
    width: 80%;
    font-size: 20px;
    color:#A5A671;
    text-shadow: 2px 2px 4px #000c;
}

.link-button img {
    width: 15%;
}

